* { 
padding: 0;
margin: 0;
font-size: 100%;
line-height: 1cm;
}


<defs>
  <style type="text/css">
   <![CDATA[
    @font-face {
        font-family: Reenie Beanie;
        src: url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
    }
   ]]>
 </style>
</defs>
<text x="100" y="100" style="font-family: 'Reanie Beanie'; font-weight:normal; font-style: normal">
 Text using CSS @font-face
</text>

body { 
            margin: auto;
            width: 100%;
            min-height: 320px;
            font-size: 1.5em;
            color: #4A4A4A ;
            line-height: 2em;
            background-color: #F7F7F7;
           }

div.palepink {
    background-color: #F6E3ED;
}

div.lightgray {
    background-color: #F4F4F4;
}

div.turquoise {
    background-color: #D8F1EB;
}

.headings { margin-left: 7em;}
.headings2 { margin-left: 7em;}
.headings3 { margin-left: 7em;}

h1 {color: darkslategray;
    font-family: 'Open Sans:300', sans-serif;
    font-size: 2em;
    padding-bottom: .2em;
   ;
}

h2 {color: darkslategray;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    padding-bottom: .2em;
}

h3 {color: darkslategray;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    padding-bottom: .2em;
    font-weight: 400;
   }

p.body {color: darkslategray;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1em ;
}

p.type {color: darkslategray;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        font-size: .9em;
        padding-top: .5em;
}

.blockquote1 {margin-top: 1em;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            margin-left: 9em;
            margin-right: 9em;
            padding-left: 1em;
            padding-right: 1em;
            color: #5E969E;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.3em;
}


p {color: darkslategray;
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
    font-size: .7em;
padding-bottom: .1em;}

.paragraph {color: #5E969E;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-right: 6em;
    padding-right: 3em;
    padding-top: 1em;
    font-size: 1.2em;
    }

p.example {color: darkslategray;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 1em ;
    padding-top: 2em;
}

.copyright {
    padding-left: .3em;
}


font-family: 'Quicksand', sans-serif;
font-family: 'Pacifico', cursive;


    
}